.big_container {
    width: 320px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 10px #eeecec; 
}

h3 {
    margin: 10px;
}

img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 10px;
}

.small_container {
    border: 1px solid rgb(219, 219, 219);
    margin: 10px;
    padding: 10px; 
}

#fact {
    font-style: italic;
    font-size: 10pt;
}

ul {
    list-style-type: none;
    margin-left: -30px;
    font-size:10pt;
}

span {
    font-weight: bold;
    font-size:10pt;
}

.description {
    font-size: 10pt;
}